<style>
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@600&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    font-family: 'Koulen', cursive;
}
.container{
    position:absolute;
    size: 1417px 1700px;
    top: 50%;
    width: 75vmin;
    height: 40vmin;
    right: 0%;
    left: 25%;
    bottom:50%;
    box-shadow: 10px 15px 20px #999;
    overflow: hidden;
    transform: translate(50%,-50%);
}
.img-container{
    width: 50%;
    display: flex;
    animation: slide 20s infinite;
    size: 1920px 720px;
}
img{
    width:100%;
    size: 1920px 480px;
}
@keyframes slide{
 
}